.ca-gallery-list tr, .ca-gallery-list tr.even, .node-type-ca-gallery tr, .node-type-ca-gallery tr.even  {
  background: none !important;
}

.ca-gallery-list tr td, .node-type-ca-gallery tr td {
  padding: 0;
  width: 25%;
}

.ca-gallery-list tr td, .ca-gallery-list tr th, .node-type-ca-gallery tr td,  .node-type-ca-gallery tr th {
  text-align: center;
}

/* Flex List */
.ca-gallery-flex .view-content,
.ca-gallery-node-flex .view-content {
  display: flex;
  flex-flow: row wrap;
}

.ca-gallery-flex .views-row,
.ca-gallery-node-flex .views-row {
  text-align: center;
  width: 25%
}